<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datos personales</title>
  <link rel="stylesheet" href="style.css">
  <style>
    body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

main {
  margin: 0 auto;
  width: 500px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
}

p {
  margin-bottom: 10px;
}

footer {
  background-color: #ccc;
  padding: 20px;
}

  </style>
</head>
<body>
  <header>
    <h1>Datos personales</h1>
  </header>
  <main>
    <section>
      <h2>Nombre</h2>
      <p>Siry</p>
    </section>
    <section>
      <h2>Apellido</h2>
      <p>Pacheco</p>
    </section>
    <section>
      <h2>Cédula</h2>
      <p>31.023.371</p>
    </section>
    <section>
      <h2>Sección</h2>
      <p>1</p>
    </section>
  </main>
  <footer>
  </footer>
</body>
</html>
